<aside class='filler left'>
</aside>
<section class='body'>
  <section class='header bar'>
  </section>
  <section class='content'>
    <aside>
      <nav class='nav bar'>
        <ul>
          <% # render 'nav', nav_locals %>
          <%= render_navigation({ styling: :vertical, wrap: ['li','test']}) %>
        </ul>
      </nav>
    </aside>
    <section class='center page'>
      <h1><%= @category ? @category.title : "All Items" %></h1>
      <section class='shelf'>
        <% case request.fullpath %>
        <% when   /^\/shop_front\/.*/ || ''%>
          <%= render 'shelf', center_page_locals%>
        <% when /^\/success\/.*/ %>
          <%= render 'success', center_page_locals %>
        <% when /^\/error\/.*/%>
          <%= render 'error' %>
        <% when /^\/cancel\/.*/ %>
          <%= render 'cancel'%>
        <% end %>
      </section>
      <section class='pagination'>
        pagination goes here
      </section>
    </section>
    <aside class='info bar'>
    </aside>
  </section>
  <section class='footer bar'>
  </section>
</section>
<aside class='filler right'>
</adide>